/* .wrapper {
    padding: 0;
  background-color: #f5f6fa;
} */

.card {
  max-width: 480px;
  width: 90%;
  background-color: #fff;
}

.title {
  font-weight: 700;
  line-height: 1.3;
}

/* .text {
  color: var(--mantine-color-dimmed);
  font-size: 14px;
} */

.button {
  align-self: flex-start;
  background-color: #4263EB;
}

/* .image {
  margin-top: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  object-fit: cover;
} */
